<mat-tab-group jhiHideMe #ref="jhiHideMe" class="demo-tab-group" animationDuration="0ms">
  <mat-tab label="Specifikacije">
    <jhi-specifikacije [postupak]="sifra"></jhi-specifikacije>
  </mat-tab>
  <mat-tab label="Ponude">
    <jhi-ponude [postupak]="sifra"></jhi-ponude>
  </mat-tab>

  <mat-tab label="Bodovanje">
    <jhi-vrednovanje [postupak]="sifra"></jhi-vrednovanje>
  </mat-tab>
  <mat-tab label="Prvorangirani">
    <jhi-prvorangirani [postupak]="sifra"></jhi-prvorangirani>
  </mat-tab>

  <mat-tab label="Nema ponudjenih partija">
    <jhi-hvale-ponude [postupak]="sifra"></jhi-hvale-ponude>
  </mat-tab>
</mat-tab-group>
